<div class="example-container">
  <mat-form-field>
    <mat-label>value</mat-label>
    <input matInput (input)="filterNonDisplayedColumns($event)">
  </mat-form-field>


  <div cdkDropList #nonDisplayedColumnsList="cdkDropList"
    [cdkDropListData]="nonDisplayedColumns | listFilter: nonDisplayeFilterText:triggerPipe"
    [cdkDropListConnectedTo]="[displayedColumnsList]" [id]="'nonDisplayedColumnsList'" class="example-list"
    (cdkDropListDropped)="drop($event)">
      @for (item of nonDisplayedColumns | listFilter: nonDisplayeFilterText:triggerPipe; track item.id) {
      <div class="example-box" cdkDrag>
        <app-column [column]='item' />
      </div>
    }
  </div>
</div>

<div class="example-container">
  <mat-form-field>
    <mat-label>Favorite food</mat-label>
    <input matInput (input)="filterDisplayedColumns($event)">
  </mat-form-field>

  <div cdkDropList #displayedColumnsList="cdkDropList"
    [cdkDropListData]="displayedColumns | listFilter: displayedFilterText:triggerPipe"
    [cdkDropListConnectedTo]="[nonDisplayedColumnsList]" [id]="'displayedColumnsList'" class="example-list"
    (cdkDropListDropped)="drop($event)">
      @for (item of displayedColumns | listFilter: displayedFilterText:triggerPipe; track item.id) {
      <div class="example-box" cdkDrag>
        <app-column [column]='item' />
      </div>
    }
  </div>
</div>
